Repository Eldolfin/stocks-dashboard: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-ruff-check, backend-ruff-format, backend-mypy, frontend-check, frontend-format-check

backend-ruff-check:
  name: Backend Ruff Check
  entry: bash -c 'cd backend && uv run ruff check --diff'
  language: system
  pass_filenames: false

backend-ruff-format:
  name: Backend Ruff Format
  entry: bash -c 'cd backend && uv run ruff format --diff'
  language: system
  pass_filenames: false

backend-mypy:
  name: Backend MyPy
  entry: bash -c 'cd backend && uv run mypy src'
  language: system
  pass_filenames: false

frontend-check:
  name: Frontend Svelte Check
  entry: bash -c 'cd frontend && npm run check'
  language: system
  pass_filenames: false

frontend-format-check:
  name: Frontend Prettier Check
  entry: bash -c 'cd frontend && npx prettier --check .'
  language: system
  pass_filenames: false

fix: frontend health check port
  frontend/Dockerfile
Due: none

fixed hot reload in frontend and more issues with healthcheck and pre-commit hooks
  .pre-commit-config.yaml
  backend/Dockerfile.dev
  backend/mypy.ini
  dev/docker-compose.dev.yml
  dev/docker-compose.yml
  frontend/Dockerfile.dev
  frontend/Dockerfile.prod
  frontend/package-lock.json
  frontend/package.json
  frontend/src/lib/typed-fetch-client.ts
  frontend/vite.config.ts
  justfile
Due: frontend-check, frontend-format-check

wip: fixing eslint errors by hand
  .pre-commit-config.yaml
  frontend/src/lib/chart-utils.ts
  frontend/src/lib/components/BarChart.svelte
  frontend/src/lib/format-utils.ts
  frontend/src/routes/+layout.svelte
  frontend/src/routes/+layout.ts
  frontend/src/routes/+page.svelte
  frontend/src/routes/compare/[tickers]/+page.svelte
  frontend/src/routes/details/[ticker]/+page.svelte
Due: frontend-check, frontend-format-check

fix(frontend): eslint errors
  frontend/src/lib/components/BarChart.svelte
  frontend/src/routes/+page.svelte
  frontend/src/routes/compare/[tickers]/+page.svelte
  frontend/src/routes/details/[ticker]/+page.svelte
  frontend/src/routes/login/+page.svelte
  frontend/src/routes/portfolio/+page.svelte
  frontend/src/routes/register/+page.svelte
Due: frontend-check, frontend-format-check

fix last things before vibe coding
  GEMINI.md
  frontend/src/routes/+page.svelte
  justfile
  tests/justfile
Due: frontend-check, frontend-format-check

fix(tests): renamed search text
  tests/tests/auth.spec.ts
Due: none

marimo for experimentation in backend
  GEMINI.md
  backend/Dockerfile.prod
  backend/pyproject.toml
  backend/uv.lock
  frontend/justfile
  justfile
  tests/justfile
Due: none

feat(tests): add second end to end test with screenshot
  backend/Dockerfile.dev
  justfile
  tests/justfile
  tests/playwright.config.ts
  tests/tests/portfolio.spec.ts
  tests/tests/portfolio.spec.ts-snapshots/portfolio-hover-first-chromium-linux.png
  tests/tests/portfolio.spec.ts-snapshots/portfolio-hover-first-firefox-linux.png
  tests/tests/portfolio.spec.ts-snapshots/portfolio-hover-first-webkit-linux.png
Due: none

Update README.md
  README.md
Due: none

fix(ci): put back test prepare
  tests/justfile
Due: none

remove outdated/useless things from readme
  README.md
Due: none

feat(tests): update readme todo
  tests/README.md
Due: none

fix(frontend): npm install in dev docker CMD
  frontend/Dockerfile.dev
Due: none

wip: e2e tests
  .github/workflows/playwright.yml
  tests/fixtures/auth.ts
  tests/playwright.config.ts
  tests/tests/auth.spec.ts
Due: none

feat(backend): start adding api tests
  backend/justfile
  backend/pyproject.toml
  backend/src/auth.py
  backend/tests/__init__.py
  backend/tests/test_backend.py
  backend/uv.lock
Due: backend-ruff-check, backend-ruff-format, backend-mypy

feat(backend): more tests
  backend/tests/test_auth.py
  backend/tests/test_stocks.py
Due: backend-ruff-check, backend-ruff-format, backend-mypy

make ci pass
  .gitignore
  backend/justfile
  backend/pyproject.toml
  backend/src/stocks.py
  backend/tests/data
  backend/uv.lock
  justfile
  tests/README.md
  tests/playwright.config.ts
  tests/tests/portfolio.spec.ts
Due: backend-ruff-check, backend-ruff-format, backend-mypy

feat(ci): run backend tests
  .github/workflows/playwright.yml
  .github/workflows/tests.yml
  .gitignore
  backend/justfile
  backend/pyproject.toml
  backend/uv.lock
Due: none

fix(ci): run backend tests
  backend/justfile
  backend/probe_etoro.py
  frontend/justfile
  justfile
Due: backend-ruff-check, backend-ruff-format, backend-mypy

fix(ci): run backend tests
  .github/workflows/tests.yml
Due: none

fix(ci): launch backend before running tests
  backend/justfile
  justfile
Due: none

add GEMINI.md to backend
  backend/GEMINI.md
Due: none

backend load tests (useless)
  backend/tests/conftest.py
  backend/tests/test_load.py
Due: backend-ruff-check, backend-ruff-format, backend-mypy

WIP: refactor backend, lint errors
  .gitignore
  backend/probe_etoro.py
  backend/src/app.py
  backend/src/auth.py
  backend/src/database/__init__.py
  backend/src/database/auth_repository.py
  backend/src/database/stocks_repository.py
  backend/src/models.py
  backend/src/services/__init__.py
  backend/src/services/auth_service.py
  backend/src/services/etoro_data.py
  backend/src/services/intervals.py
  backend/src/services/stocks_service.py
  backend/src/stocks.py
  backend/src/user.py
Due: backend-ruff-check, backend-ruff-format, backend-mypy

WIP: refactor backend, still lint errors
  backend/GEMINI.md
  backend/probe_etoro.py
  backend/src/app.py
  backend/src/endpoints/__init__.py
  backend/src/endpoints/auth.py
  backend/src/endpoints/stocks.py
  backend/src/models.py
  backend/src/services/auth_service.py
  backend/src/services/etoro_data.py
  backend/src/services/stocks_service.py
  backend/tests/test_stocks.py
Due: backend-ruff-check, backend-ruff-format, backend-mypy

just noob
  backend/justfile
Due: none

python ok
  .gitignore
  backend/probe_etoro.py
Due: backend-ruff-check, backend-ruff-format, backend-mypy

experimenting with etoro excel...
  backend/probe_etoro.py
Due: backend-ruff-check, backend-ruff-format, backend-mypy

nice profit graph finally
  backend/probe_etoro.py
Due: backend-ruff-check, backend-ruff-format, backend-mypy

fix: lint errors after backend refactor
  backend/src/database/stocks_repository.py
  backend/src/endpoints/auth.py
  backend/src/endpoints/stocks.py
  backend/src/models.py
  backend/src/services/auth_service.py
  backend/src/services/etoro_data.py
  backend/src/services/stocks_service.py
Due: backend-ruff-check, backend-ruff-format, backend-mypy

revert changes to probe_etoro.py
  backend/probe_etoro.py
Due: backend-ruff-check, backend-ruff-format, backend-mypy

chore(frontend): regenerate api types
  frontend/src/generated/api.d.ts
Due: frontend-check, frontend-format-check

feat(notebook): print final dataframe at the end
  .gitignore
  backend/probe_etoro.py
  backend/pyproject.toml
  backend/uv.lock
Due: backend-ruff-check, backend-ruff-format, backend-mypy

feat(backend): update GEMINI.md for new architecture
  backend/GEMINI.md
Due: none

feat(backend): new endpoint from notebook experimentations
  backend/src/endpoints/stocks.py
  backend/src/models.py
  backend/src/services/etoro_data.py
  backend/src/services/stocks_service.py
  backend/tests/test_stocks.py
Due: backend-ruff-check, backend-ruff-format, backend-mypy

feat(backend): simplify etoro report uploading interface
  backend/src/endpoints/stocks.py
  backend/src/services/stocks_service.py
  backend/tests/test_stocks.py
Due: backend-ruff-check, backend-ruff-format, backend-mypy

wip(frontend): new etoro analysis
  frontend/src/generated/api.d.ts
  frontend/src/routes/portfolio/+page.svelte
Due: frontend-check, frontend-format-check

feat(back+front): integrate etoro evolution in front
  backend/probe_etoro.py
  backend/src/models.py
  backend/src/services/etoro_data.py
  backend/src/services/stocks_service.py
  frontend/src/lib/chart-utils.ts
  frontend/src/routes/portfolio/+page.svelte
  frontend/src/routes/portfolio/analysis/[sheet_name]/+page.svelte
Due: backend-ruff-check, backend-ruff-format, backend-mypy, frontend-check, frontend-format-check

WIP
  backend/src/endpoints/stocks.py
  frontend/src/generated/api.d.ts
  frontend/src/lib/components/HistoryChart.svelte
  frontend/src/routes/portfolio/analysis/[sheet_name]/+page.svelte
Due: backend-ruff-check, backend-ruff-format, backend-mypy, frontend-check, frontend-format-check

Fix: Chart.js errors and filter data for HistoryChart
  frontend/.dockerignore
  frontend/.gitignore
  frontend/.npmrc
  frontend/.prettierignore
  frontend/.prettierrc
  frontend/Dockerfile.dev
  frontend/Dockerfile.prod
  frontend/README.md
  frontend/eslint.config.js
  frontend/justfile
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app.css
  frontend/src/app.d.ts
  frontend/src/app.html
  frontend/src/generated/api.d.ts
  frontend/src/lib/chart-utils.ts
  frontend/src/lib/components/BarChart.svelte
  frontend/src/lib/components/HistoryChart.svelte
  frontend/src/lib/components/chart.svelte
  frontend/src/lib/format-utils.ts
  frontend/src/lib/index.ts
  frontend/src/lib/typed-fetch-client.ts
  frontend/src/routes/+layout.svelte
  frontend/src/routes/+layout.ts
  frontend/src/routes/+page.svelte
  frontend/src/routes/compare/[tickers]/+page.server.ts
  frontend/src/routes/compare/[tickers]/+page.svelte
  frontend/src/routes/details/[ticker]/+page.server.ts
  frontend/src/routes/details/[ticker]/+page.svelte
  frontend/src/routes/login/+page.svelte
  frontend/src/routes/portfolio/+page.svelte
  frontend/src/routes/portfolio/analysis/[sheet_name]/+page.svelte
  frontend/src/routes/register/+page.svelte
  frontend/static/favicon.png
  frontend/svelte.config.js
  frontend/tsconfig.json
  frontend/vite.config.ts
Due: frontend-check, frontend-format-check

Path conditions:
  backend-ruff-check: any of: ^backend/.*\.py$
  backend-ruff-format: any of: ^backend/.*\.py$
  backend-mypy: any of: ^backend/.*\.py$
  frontend-check: any of: ^frontend/.*\.(ts|js|svelte)$
  frontend-format-check: any of: ^frontend/.*\.(ts|js|svelte|json|css|html)$
